* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: black;
    overflow: hidden;
}

#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: white;
    flex-direction: column;
    font-weight: bolder;
    overflow: hidden;
    text-transform: uppercase;
}

#main h1 {
    color: white;
    mix-blend-mode: difference;
    font-size: 15vw;
}

#main h3 {
    color: white;
    mix-blend-mode: difference;
    font-size: 5vw;
    text-transform: capitalize;
    margin-left: 10px;
}

#sec {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    bottom: -100%;
}

#skills {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow-x; */
    overflow: hidden;
}

.skill {
    height: 20%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
}

.skill h1 {
    font-size: 100px;
    mix-blend-mode: difference;
    color: white;
    z-index: 1;
    text-wrap: nowrap;
}

.skill::after {
    content: "";
    height: 0%;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    transition: all 0.5s;
}

.skill:hover::after {
    height: 100%;
}

.skill #card {
    height: 0px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    z-index: 3;
    right: 10%;
    /* opacity: 0; */
    transition: all 0.2s;
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotateX(0deg);
    perspective: 1000px;
}

.skill:hover #card {
    opacity: 1;
    height: 300px;
    transform: rotateY(40deg) rotateX(-10deg);
}

.c1
{
    background: url(gd.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c2
{
    background: url(p1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c3
{
    background: url(ad.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c4
{
    background: url(ld.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c5
{
    background: url(ce.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#programmerScroll {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0px;
}

#innerDiv {
    height: 71%;
    width: 85%;
    display: flex;
    background-color: white;
    align-items: center;
    position: relative;
}

#innerDiv #textScroll {
    font-size: 50vw;
    text-transform: uppercase;
    transform: translateX(40%);
    background-color: transparent;
}

#projectDiv {
    height: 190px;
    width: 1000px;
    background-color: transparent;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -10px;
    overflow: hidden;
}

#projectDiv b {
    position: relative;
    bottom: -101%;
    color: white;
    -webkit-text-stroke: 5px black;
}

.projects {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.proCon {
    height: 300px;
    width: 500px;
    background-color: transparent;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);

}

.box {
    height: 300px;
    width: 500px;
    background-color: royalblue;
    position: absolute;
    bottom: -350%;
}

.box1 {
    background: url(p1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(0deg) translateZ(250px);
}

.box2 {
    background: url(p2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(90deg) translateZ(250px);
}


.box3 {
    background: url(p3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(180deg) translateZ(250px);
}


.box4 {
    background: url(p4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(270deg) translateZ(250px);
}

#aboutDiv {
    height: auto;
    width: 100vw;
    background-color: white;
    position: relative;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#aboutDiv #innerDivv {
    height: auto;
    width: 90%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    transform-style: preserve-3d;
    perspective: 1000px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#mypic {
    height: 500px;
    width: 350px;
    background: url(mp2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

}


#mypic:hover {
    background: url(mypic1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#myinfo {
    height: 500px;
    width: 350px;
    background-color: transparent;
    text-transform: capitalize;
    padding: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100;
    letter-spacing: 2px;
}

#myinfo h1 {
    font-size: 60px;
}

#myinfo h2 {
    font-size: 40px;
}

.footer {
    position: relative;
    height: 50vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.footer-overlay {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    filter: blur(60px);
    z-index: 0;
}

.footer-content {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 700px;
    padding: 20px;
}

.footer-logo {
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    background: rgb(0, 0, 0);
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #ffffff;
    }

    100% {
        text-shadow: 0 0 20px #ffffff;
    }
}

.footer-text {
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 30px;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 40px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    transition: 0.3s;
}

.social-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
    transform: translateX(-50%);
}

.social-links a:hover::after {
    width: 100%;
}

.footer-bottom {
    font-size: 0.9rem;
    opacity: 0.6;
}

@media (max-width: 600px) {
    .footer-logo {
        font-size: 2rem;
    }

    .footer-text {
        font-size: 0.9rem;
    }

    .social-links a {
        font-size: 1rem;
    }
}